# build artifacts
# Ignore CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
# binaries
Maze3D


# editor / OS junk
.vscode/
.idea/
*.swp
.DS_Store

# logs / core dumps
core
core.*
