# build artifacts
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
*.o
*.a
*.so

# binaries
Maze3D


# editor / OS junk
.vscode/
.idea/
*.swp
.DS_Store

# logs / core dumps
core
core.*
